.signup-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  mat-card {
    width: 400px;
    mat-card-header {
      .mat-card-header-text {
        margin: 0;
      }
    }
    .signup-form {
      mat-form-field {
        display: block;
        padding: 16px;
      }
      mat-icon {
        cursor: pointer;
      }
      button {
        float: right;
        margin: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .signup-container {
    margin-top: 0;
  }
}
