@import 'src/scss/_variables';
@import "src/scss/_base";

mat-toolbar-row {
  justify-content: space-between;
}

.navbar-title {
  cursor: pointer;
  color: $black;

  &:focus {
    outline: none;
  }
}

.navbar-menu {
  .not-logged, .logged {
    display: flex;
    justify-content: space-between;

    div {
      margin-left: 5px;
    }

    a {
      margin-right: 5px;
    }


    a:hover {
      cursor: pointer;
    }

  }

  .user-logged {
    font-size: 18px;
  }
}

