@import 'src/scss/_variables';
@import "src/scss/_base";
@import "src/scss/_flags";

mat-toolbar-row {
  justify-content: space-between;
}

.navbar-title {
  cursor: pointer;
  color: $black;

  &:focus {
    outline: none;
  }
}

.navbar-menu {
  .not-logged, .logged {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .navbar-flags {
      margin-right: 20px;
      .flag-position {
        cursor: pointer;
        margin-left: 10px;
      }
    }

    div {
      margin-left: 5px;
    }

    a {
      margin-right: 5px;
    }

    a:hover {
      cursor: pointer;
    }

  }

  .user-logged {
    font-size: 18px;
  }
}

.navbar-menu-mobile {
  display: none;
}

.sidenav-container-mobile {
  mat-sidenav {
    width: 40%;
  }

  mat-nav-list {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      font-size: 18px;
      cursor: pointer;

      div:hover {
        background-color: $light-grey-5;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .sidenav-container-mobile {
    margin-top: 0 !important;
  }
  .navbar-title, .navbar-menu {
    display: none;
  }

  .navbar-menu-mobile {
    display: block;
  }

}

