<mat-toolbar>
  <mat-toolbar-row>
    <div routerLink="/" class="navbar-title">{{ 'app_title' | translate }}</div>
    <div class="navbar-menu">
      <div class="not-logged" *ngIf="!authService.isLoggedIn()">
        <div><a class="color-black" routerLink="login">{{ 'navbar.login' | translate }}</a></div>
        <div><a class="color-black" routerLink="signup">{{ 'navbar.signup' | translate }}</a></div>
      </div> <!-- /.not-logged -->

      <div class="logged" *ngIf="authService.isLoggedIn()">
        <div>
          <button class="user-logged" mat-button [matMenuTriggerFor]="menuLogged">
            {{ 'hello' | translate }} {{authService.getUserDetail()?.name}}</button>
          <mat-menu #menuLogged="matMenu">
            <button mat-menu-item routerLink="profile"><a class="color-black">{{ 'navbar.profile' | translate }}</a>
            </button>
            <button class="color-black" mat-menu-item
                    (click)="authService.logout()">{{ 'navbar.logout' | translate }}</button>
          </mat-menu>
        </div>
      </div> <!-- /.logged -->

    </div> <!-- ./navbar-menu -->


    <div class="navbar-menu-mobile">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container-mobile"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <div *ngIf="!authService.isLoggedIn()">
        <div routerLink="login" (click)="snav.toggle()"><a class="color-black">{{ 'navbar.login' | translate }}</a>
        </div>
        <div routerLink="signup" (click)="snav.toggle()"><a class="color-black">{{ 'navbar.signup' | translate }}</a>
        </div>
      </div>
      <div *ngIf="authService.isLoggedIn()">
        <div routerLink="profile" (click)="snav.toggle()"><a class="color-black">{{ 'navbar.profile' | translate }}</a>
        </div>
        <div (click)="this.authService.logout(); snav.toggle()"><a
          class="color-black">{{ 'navbar.logout' | translate }}</a></div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
