<div class="user-info">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'navbar.profile' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="user-info-form" [formGroup]="userInfoForm" (ngSubmit)="userInfo()">
        <mat-form-field>
          <mat-label>{{ 'name' | translate }}</mat-label>
          <input matInput formControlName="name" [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'surname' | translate }}</mat-label>
          <input matInput formControlName="surname" [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'email' | translate }}</mat-label>
          <input matInput formControlName="email" [errorStateMatcher]="matcher">
          <mat-error *ngIf="userInfoForm.get('email').hasError('required')">
            {{ 'errors.emailRequired' | translate }}
          </mat-error>
          <mat-error *ngIf="userInfoForm.get('email').hasError('email')">
            {{ 'errors.validEmail' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-card-subtitle>{{ 'furtherInfo' | translate }}</mat-card-subtitle>
        <mat-form-field>
          <mat-label>{{ 'address' | translate }}</mat-label>
          <input matInput formControlName="address" [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'city' | translate }}</mat-label>
          <input matInput formControlName="city" [errorStateMatcher]="matcher">
        </mat-form-field>
        <!--          <mat-form-field>-->
        <!--            <mat-label>Password</mat-label>-->
        <!--            <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher">-->
        <!--            <mat-error *ngIf="userInfoForm.get('password').hasError('required')">-->
        <!--              Password required-->
        <!--            </mat-error>-->
        <!--            <mat-error *ngIf="userInfoForm.get('password').hasError('minlength')">-->
        <!--              Password must be at least 4 characters-->
        <!--            </mat-error>-->
        <!--          </mat-form-field>-->
        <button mat-raised-button color="primary" type="submit" [disabled]="!userInfoForm.valid">{{ 'update' | translate }}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>



