.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  mat-card {
    width: 400px;
    mat-card-header {
      .mat-card-header-text {
        margin: 0;
      }
    }
    .login-form {
      mat-form-field {
        display: block;
        padding: 16px;
      }
      button {
        float: right;
        margin: 10px;
      }
    }
  }
}
