.login-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;

  mat-card {
    width: 400px;

    mat-card-header {
      .mat-card-header-text {
        margin: 0;
      }
    }

    .login-form {
      mat-form-field {
        display: block;
        padding: 16px;
      }

      mat-icon {
        cursor: pointer;
      }

      button {
        float: right;
        margin: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .login-container {
    margin-top: 100px;
  }
}
